# Terraform working directory
.terraform/

# State files
*.tfstate
*.tfstate.*

# Plan files
*.tfplan

# Crash logs
crash.log

# Variable files
terraform.tfvars
*.auto.tfvars

# Keys
*.pem

# Environment files
.env

# VS Code
.vscode/